<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Online Matchmaking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id='container'>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Stats</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Wins</ion-col>
            <ion-col>Losses</ion-col>
            <ion-col>Draws</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{stats.player_wins}}</ion-col>
            <ion-col>{{stats.palyer_losses}}</ion-col>
            <ion-col>{{stats.draws}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color = "success" expand='block' (click)="enterQueue()">Play</ion-button>
  </div>
  <div>
    <ion-list>
      <ion-list-header>
        <ion-label>Game Archive</ion-label>
      </ion-list-header>
      <!-- Apply a ngFor here to traverse in the list of matches -->
      <ion-item *ngFor="let match in matchHistory" >
        <ion-img src="{{match.userImg}}"></ion-img>
        <ion-label>{{match.userName}}</ion-label>
        <ion-label>{{match.status}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
